HappyHealthy/Web References/HHCSService/HHCSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ud_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ud_pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ud_iden_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ud_gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ud_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ud_datetime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthHeader" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoodExchangeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthHeader" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoodExchangeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoodExchangeDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoodData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthHeader" />
            <s:element minOccurs="0" maxOccurs="1" name="search_query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoodDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoodDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthHeader" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynchonizeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthHeader" />
            <s:element minOccurs="0" maxOccurs="1" name="tempDiabetes" type="tns:ArrayOfTEMP_DiabetesTABLE" />
            <s:element minOccurs="0" maxOccurs="1" name="tempKidney" type="tns:ArrayOfTEMP_KidneyTABLE" />
            <s:element minOccurs="0" maxOccurs="1" name="tempPressure" type="tns:ArrayOfTEMP_PressureTABLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTEMP_DiabetesTABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TEMP_DiabetesTABLE" nillable="true" type="tns:TEMP_DiabetesTABLE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TEMP_DiabetesTABLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fbs_id_pointer" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fbs_time_new" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="fbs_time_string_new" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fbs_time_old" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fbs_fbs_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fbs_fbs_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fbs_fbs_lvl_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fbs_fbs_lvl_old" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTEMP_KidneyTABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TEMP_KidneyTABLE" nillable="true" type="tns:TEMP_KidneyTABLE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TEMP_KidneyTABLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ckd_id_pointer" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_time_new" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_time_old" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ckd_time_string_new" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_gfr_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_gfr_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_gfr_level_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_gfr_level_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_creatinine_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_creatinine_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_bun_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_bun_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_sodium_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_sodium_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_potassium_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_potassium_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_albumin_blood_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_albumin_blood_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_albumin_urine_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_albumin_urine_old" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_phosphorus_blood_new" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ckd_phosphorus_blood_old" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTEMP_PressureTABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TEMP_PressureTABLE" nillable="true" type="tns:TEMP_PressureTABLE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TEMP_PressureTABLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bp_id_pointer" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_time_new" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_time_old" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="bp_time_string_new" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_up_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_up_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_lo_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_lo_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_hr_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_hr_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_up_lvl_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_up_lvl_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_lo_lvl_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_lo_lvl_old" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_hr_lvl_new" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bp_hr_lvl_old" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SynchonizeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SynchonizeDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassXMLGenerateTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:TEMP_DiabetesTABLE" />
            <s:element minOccurs="0" maxOccurs="1" name="data2" type="tns:TEMP_KidneyTABLE" />
            <s:element minOccurs="0" maxOccurs="1" name="data3" type="tns:TEMP_PressureTABLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassXMLGenerateTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassXMLGenerateTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FoodRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthHeader" />
            <s:element minOccurs="0" maxOccurs="1" name="food_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FoodRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FoodRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoodExchangeDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFoodExchangeData" />
  </wsdl:message>
  <wsdl:message name="GetFoodExchangeDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoodExchangeDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoodDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFoodData" />
  </wsdl:message>
  <wsdl:message name="GetFoodDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoodDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="SynchonizeDataSoapIn">
    <wsdl:part name="parameters" element="tns:SynchonizeData" />
  </wsdl:message>
  <wsdl:message name="SynchonizeDataSoapOut">
    <wsdl:part name="parameters" element="tns:SynchonizeDataResponse" />
  </wsdl:message>
  <wsdl:message name="ClassXMLGenerateTestSoapIn">
    <wsdl:part name="parameters" element="tns:ClassXMLGenerateTest" />
  </wsdl:message>
  <wsdl:message name="ClassXMLGenerateTestSoapOut">
    <wsdl:part name="parameters" element="tns:ClassXMLGenerateTestResponse" />
  </wsdl:message>
  <wsdl:message name="FoodRequestSoapIn">
    <wsdl:part name="parameters" element="tns:FoodRequest" />
  </wsdl:message>
  <wsdl:message name="FoodRequestSoapOut">
    <wsdl:part name="parameters" element="tns:FoodRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="HHCSServiceSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFoodExchangeData">
      <wsdl:input message="tns:GetFoodExchangeDataSoapIn" />
      <wsdl:output message="tns:GetFoodExchangeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <wsdl:input message="tns:GetFoodDataSoapIn" />
      <wsdl:output message="tns:GetFoodDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchonizeData">
      <wsdl:input message="tns:SynchonizeDataSoapIn" />
      <wsdl:output message="tns:SynchonizeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassXMLGenerateTest">
      <wsdl:input message="tns:ClassXMLGenerateTestSoapIn" />
      <wsdl:output message="tns:ClassXMLGenerateTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FoodRequest">
      <wsdl:input message="tns:FoodRequestSoapIn" />
      <wsdl:output message="tns:FoodRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HHCSServiceSoap" type="tns:HHCSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodExchangeData">
      <soap:operation soapAction="http://tempuri.org/GetFoodExchangeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <soap:operation soapAction="http://tempuri.org/GetFoodData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchonizeData">
      <soap:operation soapAction="http://tempuri.org/SynchonizeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassXMLGenerateTest">
      <soap:operation soapAction="http://tempuri.org/ClassXMLGenerateTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FoodRequest">
      <soap:operation soapAction="http://tempuri.org/FoodRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HHCSServiceSoap12" type="tns:HHCSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodExchangeData">
      <soap12:operation soapAction="http://tempuri.org/GetFoodExchangeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodData">
      <soap12:operation soapAction="http://tempuri.org/GetFoodData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchonizeData">
      <soap12:operation soapAction="http://tempuri.org/SynchonizeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassXMLGenerateTest">
      <soap12:operation soapAction="http://tempuri.org/ClassXMLGenerateTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FoodRequest">
      <soap12:operation soapAction="http://tempuri.org/FoodRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HHCSService">
    <wsdl:port name="HHCSServiceSoap" binding="tns:HHCSServiceSoap">
      <soap:address location="http://192.168.1.11/HHCSService/HHCSService.asmx" />
    </wsdl:port>
    <wsdl:port name="HHCSServiceSoap12" binding="tns:HHCSServiceSoap12">
      <soap12:address location="http://192.168.1.11/HHCSService/HHCSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>